* {
    box-sizing: border-box;
    margin : 0;
}

body {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 640px;
}

.subcontainer {
    text-align: center;
}


.inputArea {
    background-color: bisque;
    padding : 20px;
}

.inputArea #inputBox {
    width:80%;
    height: 45px;
    border: 1px solid #eee;
    font-size : 1.3em;
    padding : 10px;
}

.inputArea #inputBox:focus {
    outline: none;
}

.inputArea #addBtn {
    width: 60px;
    height: 45px;
    font-size: 1.2em;
    vertical-align: bottom;
}

#todolist {
    background-color: azure;
    display : none;
    list-style : none;
    font-size : 1.2em;
    text-align : left;
}

#todolist li {
    padding:10px;
}

#todolist .checkBtn {
    border : 2px solid brown;
    width : 20px;
    height : 20px;
    border-radius : 4px;
    margin : 5px;
    margin-right : 10px;
    cursor: pointer;
    /* background-color: brown; */
}

#todolist .delBtn {
    background-color: transparent;
    border : none;
    cursor: pointer;
    color : brown;
    font-weight : bold;
    font-size : 1.2em
}

#todolist .check {
    text-decoration: line-through;
    color : #999;
}

.editBtn {
    margin-left: 10px;
    background-color: #ffdd57;
    border: none;
    cursor: pointer;
    padding: 2px 6px;
    border-radius: 4px;
}

#clearBtn {
    margin-left: 10px;
    background-color: #ff6666;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
}

#clearBtn:hover {
    background-color: #e60000;
}
